
$c-primary: #F6F6F6;
$c-secondary: #877965;
$c-accent: #35362B;
$c-black: #414349;
$c-white: #F2F1EA;

@import 'reset';
@import 'layout';
@import 'nav-bar';
@import 'section';
@import 'hero';
@import 'home';
@import 'footer';
@import 'frameworks-index';

.bulma {
  @import 'bulma';
}

.materialize {
  @import 'materialize';
}

h1 {
  font-family: 'Bitter', serif;
}
