.bottom__nav {
  background: $c-black;
  color: $c-primary;

  text-align: center;
}

.bottom__nav--icons {
  padding-top: 1rem;
  height: 5rem;
  font-size: 30px;
}

// // .bottom__nav--logo {
// //   height: 2rem;
//
// }
