.bottom__nav {
  color: $c-primary;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.bottom__nav--icons {
  padding-top: 0.2rem;
  height: 2rem;
  font-size: 1.5rem;
}

.fa-facebook {
  margin-right: 1rem;

  &:hover {
    color: $c-accent;
    font-size: 2rem;
  }
}

.fa-twitter {
  margin-right: 1rem;

  &:hover {
    color: $c-accent;
    font-size: 2rem;
  }
}

.fa-heart {
  margin: 0 1rem;

  &:hover {
    color: $c-accent;
    font-size: 2rem;
  }
}

.fa-github {
  margin-right: 1rem;

  &:hover {
    color: $c-accent;
    font-size: 2rem;
  }
}
