.hero {
  display: flex;
  color: $c-white;
  background: url("/images/brickwall.jpg") no-repeat center;
  background-size: cover;
  height: 62rem;

  &__welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-shadow: .5rem $c-black;
    padding: 1rem;

    &-tagline {
      color: #BDC6D0;
      font-weight: bolder;
      font-size: 3rem;
      text-shadow: .1rem 0 $c-black;
      margin: 0;
    }
  }
}

.neon-light {
  display: flex;
  height: 20rem;
  align-items: center;
  filter: blur(.06rem);
  animation: neon-light 1s ease-in;
  @keyframes neon-glow {
  0% { opacity: 1; }
  10% { opacity: .3; }
  15% { opacity: .5; }
  100% { opacity: 1; }
   }
}
