.hero {
  display: flex;
  color: $c-white;
  background: url("/images/whitebrick.jpg") no-repeat center;
  background-size: cover;
  height: 62rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

  &__welcome {
    height: 20rem;
    color: $c-primary;
    // display: flex;
    text-align: center;


    text-shadow: .5rem $c-black;
    padding: 1rem;

    &-tagline {
      color:$c-black;
      font-weight: bolder;
      font-size: 3rem;
      text-shadow: .1rem 0 $c-black;
      margin: 0;
      text-align: center;
    }
  }
  &-img {
    height: 1orem;
  }
}
