.hero {
  display: flex;
  color: $c-white;
  background: url("/images/brickwall.jpg") no-repeat center;
  background-size: cover;
  height: 60rem;

  &__welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-shadow: .5rem $c-black;
    padding: 1rem;

    &-headline {
      justify-content: center;
      margin: 1rem;
      font-size: 5rem;
      border-bottom: .4rem solid #AE8848;
    }

    &-tagline {
      font-weight: bolder;
      font-size: 3rem;
      text-shadow: .1rem 0 $c-black;
      margin: 0;
    }
  }
}

.neon-light {
  display: flex;
  height: 20rem;
  align-items: center;
  filter: blur(.06rem);
  // animation: neon-light 2s ease infinite alternate;
  // @keyframes neon-light {
  //   0% { opacity: 1; }
  //   10% { opacity: 1; }
  //   15% { opacity: 0; }
  //   100% { opacity: 0; }
  // }
}
