.about {
  text-align: center;

&__paragraph, &-breakout {
  text-align: center;

}
}

.promise {
  text-align: center;
  border-top: .1rem solid $c-black;
  padding-top: 1rem;

  &__paragraph {
  text-align: center;

  }
}

.project__image {
  position: relative;

  height: 100%;

  &-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 1;

    color: $c-primary;
    font-weight: bold;
    z-index: 1;
  }

  &-pic {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .project__image-text {
      visibility: visible;
    }

    .project__image-pic {
      filter: contrast(120%) brightness(80%);
    }
  }

  // This makes the image square
  &::before {
    display: block;
    content: "";
    padding-top: 100%;
  }
}
//


.portfolio__frameworks {
  text-align: center;

  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-name, a {
    text-decoration: none;
    font-weight: bold;
    color: $c-black;
  }
}
