.about {
  text-align: center;
  border-bottom: 0.1rem solid $c-black;
  padding-bottom: 1rem;

  &__photo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    float: left;
    margin-right: 3rem;
  }

  &__paragraph {
    padding-bottom: 0.2rem;
    font-size: 1.2rem;

    &-breakout {
      padding-bottom: 0.2rem;
      font-size: 1.7rem;
    }
  }
}

.promise {
  text-align: center;
  border-bottom: 0.1rem solid $c-black;
  padding-bottom: 1rem;

  &__paragraph {
    font-size: 1.2rem;

  }
}

.project__image {
  position: relative;
  height: 100%;

  &-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 1;

    color: $c-primary;
    font-weight: bold;
    z-index: 1;
    font-size: 1.2rem;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }

  &-link,  a, p {
    color: $c-secondary;
    text-decoration: none;
    margin: 0;
    width: 100%;
  }

  &-pic {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(90%);
  }

  &:hover {
    .project__image-text {
      visibility: visible;
    }

    .project__image-pic {
      filter: contrast(200%) brightness(20%);
      background: $c-accent;
    }
  }

  // This makes the image square
  &::before {
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.project__display {
  // background: url( "/images/planks.jpg") no-repeat center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  background-size: cover;
  height: 60rem;
}

.portfolio__frameworks {
  text-align: center;

  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-name,
  a {
    text-decoration: none;
    border: 0.1rem solid $c-accent;
    font-weight: bold;
    color: $c-black;
  }
}
