.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 3 - 1rem - 1rem);

  &--centered {
    justify-content: space-around;
  }

  &__item {
    flex-grow: 1;
    margin: 1rem;
      }
}

.card {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

  &__title {
    background: $c-primary;
    width: 100%;
    color: $c-white;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
