.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-weight: bolder;
  text-shadow: #303030;
  flex-grow: 1;
  height: 4rem;
  z-index: 2;
  padding: 1rem;

  &__group {
    display: flex;
    margin: -1rem;
    padding-right: 0.5rem;
  }

  &__logo {
    padding-right: 0.5rem;
    padding-top: 1rem;
    margin: 0;
    margin-top: 1.5rem;
    height: 7rem;
  }

  &__item {
    margin: 0;

    &:hover {
      color: $c-accent;
      font-size: 2.2rem;
      font-weight: bolder;
    }
  }

  a {
    display: inline-block;
    padding: 1rem;
    color: #BDC6D0;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: .1rem 0 $c-black;

  }
}

.top-nav__group-flex {
  display: flex;
  align-items: center;
}
