
.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
  text-shadow: #303030;
  flex-grow: 1;
  height: 4rem;
  z-index: 2;
  padding: 1rem;
  // background: $c-black;

  &__group {
    display: flex;
    margin: -1rem;
    padding-right: 0.5rem;
  }

  &__logo {
    padding-right: 0.5rem;
    padding-top: 1rem;
    margin: 0;
    margin-top: 1.5rem;
    height: 5.5rem;
  }

  &__item {
    margin: 0;

  }

  a {
    display: inline-block;
    padding: 1rem;
    color: $c-black;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: .1rem 0 $c-black;

    &:hover {
      text-decoration: line-through;

    }
  }
}

.top-nav__group-flex {
  display: flex;
  align-items: center;
}
