* {
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $c-primary;
  font-family: 'Raleway', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
