<div class="app__top">
  <section class="hero is-primary is-fullheight">
    <div class="hero-head">
  <nav class="nav">

    <div class="container">
      <div class="top-nav__group-flex">
        {{!-- {{#link-to "home" }} <img src="/images/logo.png" class="nav-item" alt="">{{/link-to}} --}}
      </div>
      <ul class="nav-right nav-menu">
        <li class="nav-item is-active"> <a href="#">Blog </a> </li>
        <li class="nav-item is-active"> <a href="#"> About </a> </li>
        <li class="nav-item is-active"> <a href="#"> Contact </a> </li>
      </ul>
    </div>
  </nav>
  </div>


    <div class="hero-body">
      <div class="container has-text-centered">
      <h1 class="title is-1">Hi there!</h1>
      <h3 class="subtitle is-2">This is my portfolio using Bulma. </h3>
    </div>
  </div>
  </section>
</div>

<section class="section is-medium">
<div class="container has-text-centered">

    {{!-- <div class="heading"> --}}
      <h1 class="title is-2">ABOUT ME</h1>
      {{!-- </div> --}}
      <p class="content">
        <h3 class="subtitle is-4"> <strong> I had six wisdom teeth removed. You can say I'm a bit of an over-acheiver.</strong></h3>
        I am a Belmont University and Iron Yard Nashville graduate. After working in public relations and economic development at the Nashville Area Chamber of Commerce, I'm well versed in client side communication and project management. Before my
        time at the Chamber I worked in a public relations agency setting at McNeely Pigott & Fox Public Relations and DVL Seiganthaler Public Relations and Advertising.
      </p>


    <h1 class="title is-2">PROMISE</h1>
    <p class="content">
      Hire me and you'll get a hard worker, deliberate learner, and occasional-bring-baked-goods-to-work gal.
    </p>
  </div>
</section>

<div class="container">
  <div class="grid is-one-third">

    <div class="grid__item">
      <div class="card">
        <div class="project__image">
          <img src="/images/emberialthai.gif" class="project__image-pic" alt="emberial thai project">
          <div class="project__image-text">
            <h3>Emberial Thai</h3>
            <p>Stack: Ember, Sass</p>
            <p>
              <a href="http://sw-emberialthai.surge.sh/" class="project__image-link"> See it in action!</a>
            </p>
            <p>
              <a href="https://github.com/stephhappens/emberial-thai" class="project__image-link">See how it works!</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <div class="project__image">
          <img src="/images/puppies.gif" class="project__image-pic" alt="puppies project" background-size="cover">
          <div class="project__image-text">
            <h3>Nashville Puppy Adoption Project</h3>
            <p>Stack: Vue, Sass</p>
            <p>
              <a href="http://sw-puppies.surge.sh/" class="project__image-link"> See it in action!</a>
            </p>
            <p>
              <a href="https://github.com/stephhappens/17-puppy-adoption" class="project__image-link">See how it works!</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {{!-- <div class="grid__item">
      <div class="card">
        <div class="project__image">
          <img src="/images/puppies.gif" class="project__image-pic" alt="twitch project" background-size="cover">
          <div class="project__image-text">
            <h3>Twitch Website Clone</h3>
            <p>Stack: Javascript, Sass</p>
            <p>
              <a href="http://sw-twitchclone.surge.sh/" class="project__image-link"> See it in action!</a>
            </p>
            <p>
              <a href="https://github.com/stephhappens/10-twitch" class="project__image-link">See how it works!</a>
            </p>
          </div>
        </div>
      </div>
    </div> --}}

    <div class="grid__item">
      <div class="card">
        <div class="project__image">
          <img src="/images/finalproject.gif" class="project__image-pic" alt="Final Project" background-size="cover">
          <div class="project__image-text">
            <h3>BBBS of Middle Tennessee Final Project</h3>
            <p>Stack: Ember, Sass</p>
            <p>
              <a href="https://bbbsmid-tn.herokuapp.com/" class="project__image-link"> See it in action!</a>
            </p>
            <p>
              <a href="https://github.com/stephhappens/bbbs-site" class="project__image-link">See how it works!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
<section class="section is-medium">

    <div class="container has-text-centered">
      <h1 class="title is-2">VIEW MY PORTFOLIO IN</h1>
      <div class="portfolio__frameworks-flex">

        <a class="portfolio__frameworks-bulma title is-4" {{action "changeStyle" "bulma"}}> BULMA </a>
        <a class="portfolio__frameworks-materialize title is-4" {{action "changeStyle" "materialize"}}> MATERIALIZE </a>
        <a class="portfolio__frameworks-bootstrap title is-4" {{action "changeStyle" "bootstrap"}}> BOOTSTRAP </a>

      </div>
    </div>
</section>


<footer class="footer is-fullwidth">
  {{!-- <div class="container"> --}}
    <div class="is-primary">
      <div class="content has-text-centered">
        <a href="https://www.facebook.com/stephanie.n.winn"><i class="fa fa-facebook" aria-hidden="true"> </i></a>
        <a href="https://twitter.com/steph_happens"><i class="fa fa-twitter" aria-hidden="true"> </i></a>
        <i class="fa fa-heart" aria-hidden="true"> </i>
        <a href="https://github.com/stephhappens"><i class="fa fa-github" aria-hidden="true"> </i></a>
      </div>
    </div>
  {{!-- </div> --}}
</footer>
