<div class="container">
  <div class="section">
    <h2 class="about">ABOUT ME</h2>
    <p class="about__paragraph">
      <h3 class="about__paragraph-breakout">I had six wisdom teeth removed. You can say I'm a bit of an over-acheiver.</h3> I am a Belmont University and Iron Yard Nashville graduate. After working in public relations and economic development at the Nashville Area Chamber of Commerce, I'm well versed in client side communication and project management. Before my time at the Chamber I worked in a public relations agency setting at McNeely Pigott & Fox Public
      Relations and DVL Seiganthaler Public Relations and Advertising.
    </p>

    <h2 class="promise">PROMISE</h2>
    <p class="promise__paragraph">
      If you hire me you'll get a hard worker, deliberate learner, and occasional bring baked goods to work gal.
    </p>
  </div>

  <div class="grid">

    {{!-- todo: FIX HOVER STATE --}}
    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

    <div class="container">
      <h1 class="portfolio__frameworks">VIEW MY PORTFOLIO IN</h1>
      <div class="portfolio__frameworks-flex">

        {{#link-to "home.bulma" class="portfolio__frameworks-name" }} BULMA {{/link-to}}
        {{#link-to "home.materialize" class="portfolio__frameworks-name" }} MATERIALIZE {{/link-to}}
        {{#link-to "home.bootstrap" class="portfolio__frameworks-name" }} BOOTSTRAP {{/link-to}}

      </div>
    </div>
  </div>
</div>
