<div class="container">
  <div class="section">
    <h2 class="about">ABOUT ME</h2>
    <p class="about__paragraph">
      <h3 class="about__paragraph-breakout">I had six wisdom teeth removed. You can say I'm a bit of an over-acheiver.</h3> I am a Belmont University and Iron Yard Nashville graduate. After working in public relations and economic development at the Nashville Area Chamber of Commerce. Before that I worked in a public relations agency setting at Mc Neely Pigott Public
      Relations & Fox and DVL Seiganthaler Public Relations. I'm well versed in client side communication and project management.
    </p>

    <h2 class="promise">PROMISE</h2>
    <p class="promise__paragraph">
      If you hire me you'll get a hard worker, deliberate learner, and occasional bring baked goods to work gal.
    </p>
  </div>

  <div class="grid">

    {{!-- todo: FIX HOVER STATE --}}
    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <img src="http://www.placecera.com/g/200/300" class="project__image" alt="cera">
        <p class="project__image-text">
          I am some text that should hover.
        </p>
      </div>
    </div>

<div class="container">
    <h1 class="portfolio__frameworks">VIEW MY PORTFOLIO IN</h1>
    <ul class="portfolio__frameworks-flex">
      <li class="portfolio__frameworks-name"> <a href="#"> BULMA  </a> </li>
      <li class="portfolio__frameworks-name"> <a href="#"> BOOTSTRAP </a> </li>
      <li class="portfolio__frameworks-name"> <a href="#"> PURE </a> </li>
    </ul>
</div>
  </div>
</div>
